.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #3f51b5;
  border-bottom: 1px solid #ddd;
}

.logo a {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-actions {
  display: flex;
  align-items: center;
}

.account-link {
  margin-right: 20px;
  text-decoration: none;
  color: #040505;
  font-size: 18px;

}

.account-link:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c82333;
}

.account-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #d8d7be;
  border-radius: 8px;
}

.account-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.account-container label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.account-container input[type="text"],
.account-container input[type="email"],
.account-container input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.account-container input[type="file"] {
  margin-bottom: 15px;
}

.account-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account-container button:hover {
  background-color: #0056b3;
}
